.container {
	padding-top: 20px;
}

body { 
	background: #f8f8f8
}

#gameBoard {
	background-color: lightgrey;
	width: 100%;
	height: 600px;
}

#timer{
margin: 10px auto;
text-align: center;
color: #333;
font-family: fantasy;
font-size: 30px;
cursor: default;
}

#timer div{
display: inline;
}

.Score {
	margin: 10px auto;
text-align: center;
color: #333;
font-family: fantasy;
font-size: 30px;
cursor: default;
}

h1	{
	text-align: center;
}

.center {
    text-align: center;
}